


<section class="earnings-features">
  <div class="title earnings-features__title {{title_reverse}}"> <span class="color-blue">{{title_blue}}</span> {{title}}</div>
  {% if descr %}
  <div class="earnings-features__description">{{descr}}</div>
  {% endif %}
  {# <div class="earnings-features__subtitle">
    Почему это лучшее предложение для тех, кто хочет создать долгосрочный растущий источник дохода с возможностью вести дела из любой точки мира с приятными для себя людьми
  </div> #}
  <div class="earnings-features__row">
      <div class="earnings-features__dots">
        {% for dot in features %}
          {# <div class="earnings-features__dots-item">
            <div class="earnings-features__row-front">
              <div class="earnings-features__dots-item__count">
                {{ loop.index }}
              </div>
               <img src="{{ dot.dot_img }}" alt=""> 
            </div>
            <div class="earnings-features__row-back">
              {{dot.title}}
            </div>
          </div> #}
          <div class="earnings-features__dots-item">
            <div class="earnings-features__row-front">
              <div class="earnings-features__dots-item__count">
                {{ loop.index }}
              </div>
              <div class="earnings-features__row-front--inner">
                <img src="{{ dot.dot_img }}" alt=""> 
                {% if dot.title_short %}
                <div class="earnings-features__dots-title">{{dot.title_short}}</div>
                {% endif %}
                </div>
            </div>
            <div class="earnings-features__row-back">
              {{dot.title}}
            </div>
          </div>
        {% endfor %}
      </div>
    
  </div>
</section>

