<aside class="sidebar">
  <div class="sidebar__title">Читайте также</div>
  <div class="sidebar__items">
    {% for item in blog %}
      {% if loop.index <= 4 %}
        <div class="sidebar__items-item">
          <div class="sidebar__items-item__img-wrap" style="background-image: url({{ item.img }});"></div>
          <div class="sidebar__items-item__text">
            <a class="sidebar__items-item__text__title" href="{{ item.href }}">{{ item.title }}</a>
            <div class="sidebar__items-item__text__time">
              <span>{{ item.date }}</span>
              <span class="sidebar__items-item__text__dot">·</span>
              <span>{{ item.time }}</span>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</aside>
